name: Test

on:
  push:
    branches-ignore:
      - draft-release
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: make install
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Load Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: src-tauri
      - name: Test
        run: make can-release

  update-draft-release-branch:
    name: Update draft-release branch
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Push to draft-release
        uses: alice-biometrics/github-push-action@v0.7.0
        with:
          branch: draft-release
          force: true
          github_token: ${{ secrets.RELEASE_TOKEN }}
